body {
	color: #666;
	background: #fff;
	padding-top: 0;
}

ul {
	list-style: none;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
}



.col {
	padding-left: 15px;
	padding-right: 15px;
}



.text {
	line-height: 1.7;
	text-align: center;
}
.text-title {
	font-size: 1em;
	line-height: 1.4;
	margin-top: 0;
	margin-bottom: 1em;
}
.text-title strong {
	font-size: 1.72em;
}
@media (min-width: 992px) {
	.text {
		max-width: 49.2%;
	}
}



.enroll-btn {
	border-radius: 0;
	background: #5194fc;
	border-color: #5194fc;
	margin-top: 2em;
}
.enroll-btn:hover,
.enroll-btn:active,
.enroll-btn:focus,
.enroll-btn:active:focus {
	background-color: #4d8ef0;
	border-color: #4d8ef0;
}
@media (min-width: 768px) {
	.enroll-btn {
		max-width: 12.8em;
	}
}



.rsDefault,
.rsDefault .rsOverflow,
.rsDefault .rsSlide {
	background: none;
	color: inherit;
}



.section-head {
	line-height: 1.8;
	text-align: center;
	padding: 40px 0;
}
.section-title {
	font-weight: bold;
	font-size: 1.29em;
	line-height: inherit;
	margin-top: 0;
	margin-bottom: 0;
}
.section-title strong {
	color: #4b7ff7;
}
.section-summary {
	font-size: 0.86em;
}



.section-1 {
	position: relative;
	padding: 60px 0 45px;
}
.ripples {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	overflow: hidden;
}
.ripple {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	padding-bottom: 100%;
	border: 1px solid #eee;
	border-radius: 50%;
	margin-top: -50%;
	-webkit-animation: zoomin 4s linear infinite backwards;
	animation: zoomin 4s linear infinite backwards;
}
.ripple:nth-child(2) {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.ripple:nth-child(3) {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}
.ripple:nth-child(4) {
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
}

.section-1 .royalSlider {
	height: 340px !important;
}

.cover {
	text-align: center;
}

.cover-1 .slogans {
	max-width: 660px;
	padding: 0 1%;
	margin-bottom: 40px;
}
.cover-1 .slogan:nth-child(1) {
	float: left;
	margin-bottom: 20px;
}
.cover-1 .slogan:nth-child(2) {
	float: right;
}
.cover-1 .icon {
	display: inline;
	vertical-align: top;
	width: 50px;
	height: 50px;
	margin: 0 1%;
}
.cover-1 .icon-logo {
	width: 160px;
	height: auto;
	margin-top: -10px;
}
.rsActiveSlide .cover-1 .slogan {
	-webkit-animation: 0.5s 0.4s backwards;
	animation: 0.5s 0.4s backwards;
}
.rsActiveSlide .cover-1 .slogan:nth-child(1) {
	-webkit-animation-name: fadein, right;
	animation-name: fadein, right;
}
.rsActiveSlide .cover-1 .slogan:nth-child(2) {
	-webkit-animation-name: fadein, left;
	animation-name: fadein, left;
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.rsActiveSlide .cover-1 .icon {
	-webkit-animation: zoomin 0.3s backwards;
	animation: zoomin 0.3s backwards;
}
.rsActiveSlide .cover-1 .icon:nth-child(3),
.rsActiveSlide .cover-1 .icon:nth-child(5) {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}
.rsActiveSlide .cover-1 .icon:nth-child(2),
.rsActiveSlide .cover-1 .icon:nth-child(6) {
	-webkit-animation-delay: 2.2s;
	animation-delay: 2.2s;
}
.rsActiveSlide .cover-1 .icon:nth-child(1),
.rsActiveSlide .cover-1 .icon:nth-child(7) {
	-webkit-animation-delay: 2.4s;
	animation-delay: 2.4s;
}
.rsActiveSlide .cover-1 .icon-logo {
	-webkit-animation: jump 1.5s 0.9s backwards;
	animation: jump 1.5s 0.9s backwards;
}



.section-2 {
	height: 654px;
	padding-top: 510px;
	background: url(../img/devices.jpg) no-repeat 50%, url(../img/bg.png);
}



.section-3,
.section-5 {
	background: #fafafa;
}



.section-3 .section-body {
	height: 369px;
	padding: 40px 0;
	background: url(../img/graphics.jpg) no-repeat 50% #4b7ff7;
}
.section-3 .text {
	max-width: 380px;
	text-align: left;
	color: #fff;
	padding-top: 3em;
}



.section-4 .section-body {
	padding-bottom: 30px;
}
.section-4 .royalSlider {
	height: 560px !important;
}
.section-4 .rsDefault .rsBullets {
	position: static;
	background: none;
	margin-top: 20px;
}
.section-4 .rsDefault .rsBullet {
	width: auto;
	height: auto;
}
.section-4 .rsDefault .rsBullet span {
	width: 10px;
	height: 10px;
	background: #dfdfdf;
}
.section-4 .rsDefault .rsBullet.rsNavSelected span {
	background: #4b7ff7;
}
.teachers {
	font-size: 0.86em;
	line-height: 1.5;
	color: #fff;
	margin-left: 0;
	margin-right: 0;
}
.teacher {
	height: 140px;
	overflow: hidden;
}
.teacher-photo {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: no-repeat 50%;
	background-size: cover;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.teacher:hover .teacher-photo {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.teacher-intro {
	position: absolute;
	left: 0.5em;
	right: 0.5em;
	bottom: 0;
	padding: 0.5em 0;
}
@media (min-width: 992px) {
	.section-4 .container {
		width: 930px;
	}
	.section-4 .royalSlider {
		height: 280px !important;
	}
	.teachers {
		position: relative;
	}
	.teacher {
		position: absolute;
	}
	.teacher:nth-child(1) {
		left: 0;
		top: 0;
		width: 280px;
	}
	.teacher:nth-child(2) {
		left: 0;
		top: 140px;
		width: 140px;
	}
	.teacher:nth-child(3) {
		left: 140px;
		top: 140px;
		width: 140px;
	}
	.teacher:nth-child(4) {
		left: 280px;
		top: 0;
		width: 220px;
	}
	.teacher:nth-child(5) {
		left: 280px;
		top: 140px;
		width: 220px;
	}
	.teacher:nth-child(6) {
		left: 500px;
		top: 0;
		width: 180px;
		height: 280px;
	}
	.teacher:nth-child(7) {
		left: 680px;
		top: 0;
		width: 220px;
	}
	.teacher:nth-child(8) {
		left: 680px;
		top: 140px;
		width: 220px;
	}
}



.section-5 .section-body {
	height: 300px;
	background: url(../img/circles.jpg) no-repeat 50% 20%;
}



.footer {
	text-align: center;
	padding: 45px 0 75px;
	border-top: 1px solid #efefef;
	margin-top: 70px;
}
.rights {
	font-size: 0.86em;
}
.qrcodes {
	margin-top: 30px;
}
.qrcode {
	width: 84px;
	border: 1px solid #e3e3e3;
	padding: 2px;
	margin: 0 0.25em;
	box-shadow: 0 0 0 1px #f9f9f9;
}



@-webkit-keyframes zoomin {
	0% {
		-webkit-transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
@keyframes zoomin {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@-webkit-keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes right {
	0% {
		-webkit-transform: translate(-50px);
	}
	100% {
		-webkit-transform: translate(0);
	}
}
@keyframes right {
	0% {
		transform: translate(-50px);
	}
	100% {
		transform: translate(0);
	}
}

@-webkit-keyframes left {
	0% {
		-webkit-transform: translate(50px);
	}
	100% {
		-webkit-transform: translate(0);
	}
}
@keyframes left {
	0% {
		transform: translate(50px);
	}
	100% {
		transform: translate(0);
	}
}

@-webkit-keyframes jump {
	0% {
		-webkit-transform: translate(0, 120%) rotate(-90deg);
	}
	60% {
		-webkit-transform: translate(0, 0) rotate(-90deg);
	}
	100% {
		-webkit-transform: translate(0, 0) rotate(0);
	}
}
@keyframes jump {
	0% {
		transform: translate(0, 120%) rotate(-90deg);
	}
	60% {
		transform: translate(0, 0) rotate(-90deg);
	}
	100% {
		transform: translate(0, 0) rotate(0);
	}
}