*,
:before,
:after {
	padding: 0;
	margin: 0;
}
ol,
ul {
	list-style: none;
}



body {
	padding-top: 80px;
}



.icon-sn-google {
	background-color: #4285F4;
	background-position: 0px 0
}

.icon-sn-github {
	background-color: #333;
	background-position: -20px 0
}

.icon-sn-weibo {
	background-color: #E90D24;
	background-position: -40px 0
}

.icon-sn-qq {
	background-color: #0098E6;
	background-position: -60px 0
}

.icon-sn-twitter {
	background-color: #50ABF1;
	background-position: -80px 0
}

.icon-sn-facebook {
	background-color: #4862A3;
	background-position: -100px 0
}

.icon-sn-renren {
	background-color: #197BC8;
	background-position: -120px 0
}

.icon-sn-tqq {
	background-color: #1F9ED2;
	background-position: -140px 0
}

.icon-sn-douban {
	background-color: #279738;
	background-position: -160px 0
}

.icon-sn-weixin {
	background-color: #00B500;
	background-position: -180px 0
}

.icon-sn-wechat {
	background-color: #00B500;
	background-position: -200px 0
}

.icon-sn-wechat {
	background-position: -180px 0
}

[class*="icon-sn-"] {
	display: inline-block;
	background-image: url(../img/icon-sn.png);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-background-size: auto 20px;
	-o-background-size: auto 20px;
	-webkit-background-size: auto 20px;
	background-size: auto 20px
}

.btn-sn-google {
	background: #4285F4
}

.btn-sn-google:hover,.btn-sn-google:active,.btn-sn-google:focus {
	background: #2a75f3
}

.btn-sn-github {
	background: #333
}

.btn-sn-github:hover,.btn-sn-github:active,.btn-sn-github:focus {
	background: #262626
}

.btn-sn-weibo {
	background: #E90D24
}

.btn-sn-weibo:hover,.btn-sn-weibo:active,.btn-sn-weibo:focus {
	background: #d10c20
}

.btn-sn-qq {
	background: #0098E6
}

.btn-sn-qq:hover,.btn-sn-qq:active,.btn-sn-qq:focus {
	background: #0087cd
}

.btn-sn-twitter {
	background: #50ABF1
}

.btn-sn-twitter:hover,.btn-sn-twitter:active,.btn-sn-twitter:focus {
	background: #38a0ef
}

.btn-sn-facebook {
	background: #4862A3
}

.btn-sn-facebook:hover,.btn-sn-facebook:active,.btn-sn-facebook:focus {
	background: #405791
}

.btn-sn-renren {
	background: #197BC8
}

.btn-sn-renren:hover,.btn-sn-renren:active,.btn-sn-renren:focus {
	background: #166db1
}

.btn-sn-tqq {
	background: #1F9ED2
}

.btn-sn-tqq:hover,.btn-sn-tqq:active,.btn-sn-tqq:focus {
	background: #1c8dbc
}

.btn-sn-douban {
	background: #279738
}

.btn-sn-douban:hover,.btn-sn-douban:active,.btn-sn-douban:focus {
	background: #228330
}

.btn-sn-weixin {
	background: #00B500
}

.btn-sn-weixin:hover,.btn-sn-weixin:active,.btn-sn-weixin:focus {
	background: #009c00
}

.btn-sn-wechat {
	background: #00B500
}

.btn-sn-wechat:hover,.btn-sn-wechat:active,.btn-sn-wechat:focus {
	background: #009c00
}

[class*="btn-sn-"],[class*="btn-sn-"]:hover,[class*="btn-sn-"]:active,[class*="btn-sn-"]:focus {
	border: none;
	color: #fff
}

.btn-sn-more {
	background: #eee;
	color: #999 !important
}

.btn-sn-more:hover,.btn-sn-more:active {
	background: #e1e1e1
}

[class*="btn-sn-"] [class*="icon-sn-"] {
	background-color: transparent
}



.rsDefault .rsBullets{height:30px;background:none;}
.rsDefault .rsBullet{width: auto; height: auto; cursor: pointer;}



.quick-login-title {
	float: left;
	margin: 5px 0.5em 0 0;
}
.quick-login .btn-sm {
	padding-left: 5px;
	padding-right: 5px;
}



.navbar, .home .navbar-header {
	height: 80px;
}
.navbar-default .navbar-nav > li > a {
	font-size: 14px;
	line-height: 1;
	padding-top: 18px;
	padding-bottom: 18px;
}
.navbar-nav.navbar-right li.signup-desktop a {
	padding-top: 9px;
	padding-bottom: 9px;
	margin-top: 24px;
}
.navbar-nav.navbar-right li.signup-desktop a i {
	top: 6px;
}

.headroom--unpinned {
	-webkit-transform: translateY(-80px);
	transform: translateY(-80px);
}



.focus {
	position: relative;
}

.royalSlider {
	height: 420px !important;
}
.rsContent {
	background-repeat: no-repeat;
	background-size: contain;
}
a.rsContent {
	display: block;
}
a.rsContent:hover {
	text-decoration: none;
}
.rsContent .details {
	text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}
.rsActiveSlide .details {
	-webkit-animation: 1s 0.5s backwards;
	animation: 1s 0.5s backwards;
	-webkit-animation-name: fadein, left-5;
	animation-name: fadein, left-5;
}

.focus-tabs-wrap {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 36;
	margin: auto;
}
.focus-tabs {
	position: absolute;
	right: 0;
	top: 0;
	width: 290px;
	height: 420px;
	line-height: 2.6;
	color: #999;
	background: #2b2b2b;
}
.focus-tabs-head {
	text-align: center;
	background: #404040;
}
.focus-tabs-title {
	display: inline-block;
	font-size: 1em;
	line-height: inherit;
	cursor: pointer;
	margin: 0 1em;
	border-bottom: 3px solid transparent;
}
.focus-tabs-title.boring-tab-current {
	color: #fff;
	border-bottom-color: #DB1D1B;
}
.focus-tabs-body {
	padding: 10px 0;
}
.focus-tabs-list {
	-webkit-animation: fadein 0.5s;
	animation: fadein 0.5s;
}
.focus-tabs-list a {
	display: block;
	padding: 0 1em;
	color: inherit;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.focus-tabs-list a:hover {
	text-decoration: none;
	background: #404040;
}
.focus-tabs-item-num {
	display: inline-block;
	width: 1.7em;
	height: 1.7em;
	font-size: 12px;
	line-height: 1.6;
	text-align: center;
	border: 1px solid #6f6f6f;
	margin-right: 0.5em;
}
.focus-tabs-item:nth-child(-n+3) .focus-tabs-item-num {
	color: #fff;
	background: #d10c20;
	border-color: #d10c20;
}



.section {
	margin-bottom: 30px;
}
.section-title {
	text-align: center;
}



.item {
	margin-bottom: 30px;
}
.item a {
	display: block;
	color: inherit;
}
.item a:hover {
	text-decoration: none;
}
.item-cover {
	position: relative;
	overflow: hidden;
}
.item-img {
	width: 100%;
}
.item-summary {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 12px;
	color: #fff;
	background: rgba(0,0,0,0.618);
	padding: 0.25em 0.5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.item-info {
	line-height: 2;
	color: #888;
	padding: 1em;
}
.item-title {
	color: #333;
}



.open-item {
	margin-bottom: 0;
}
.open-item .item-info {
	padding: 0.5em 0;
	line-height: 1.6;
}
.open-item .item-heat {
	font-size: 12px;
}
.open-item .item-img {
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.open-item:hover .item-img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}



.course-item {
	background: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.3s ease-in-out;
}
.course-item:hover {
	box-shadow: 0 8px 15px rgba(0,0,0,0.15);
	-webkit-transform: translate(0, -3px);
}
.course-item-author-avatar {
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
}
.course-item-price {
	color: #d10c20;
}



@-webkit-keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes left-5 {
	0% {
		-webkit-transform: translate(5%);
	}
	100% {
		-webkit-transform: translate(0);
	}
}
@keyframes left-5 {
	0% {
		transform: translate(5%);
	}
	100% {
		transform: translate(0);
	}
}



@media (min-width: 1200px) {
	.col:first-child .open-item .item-img {
		height: 241px;
	}
}