.help-block {
	font-size: 0.86em;
}



.fa {
	font-size: 1.1em;
	margin-right: 0.2em;
}



.file {
	display: inline-block;
}
.file input {
	position: absolute;
	left: -1000%;
	top: -1000%;
	visibility: hidden;
}
.file-obj {
	display: none;
	color: #555;
	margin-left: 0.5em;
	-webkit-animation: fadein 0.5s;
}
.file-selected .file-obj {
	display: inline-block;
}
.file-delete {
	padding: 0;
	border: none;
	background: none;
}
.file-delete .fa {
	margin-right: 0;
}



.pub-box {
	padding: 20px;
	background: #fff;
	margin: 20px 0;
}
.pub-form textarea.form-control {
	height: 10em;
}
.pub-labels .label {
	display: inline-block;
	margin-bottom: 0.5em;
}
.pub-btns {
	margin-top: 2em;
}



@-webkit-keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}