.help-block {
	font-size: 0.86em;
}



.fa {
	font-size: 1.1em;
	margin-right: 0.2em;
}



.file {
	display: inline-block;
	margin-right: 1em;
}
.file input {
	position: absolute;
	left: -1000%;
	top: -1000%;
	visibility: hidden;
}
.file-obj {
	display: none;
	color: #555;
	margin-left: 0.5em;
	-webkit-animation: fadein 0.5s;
	animation: fadein 0.5s;
}
.file-selected .file-obj {
	display: inline-block;
}
.file-delete {
	padding: 0;
	border: none;
	background: none;
}
.file-delete .fa {
	margin-right: 0;
}



.pub-types {
	margin-bottom: 2em;
}



.pub-form {
	display: none;
	-webkit-animation: fadein 0.5s;
	animation: fadein 0.5s;
}



.qk-chapters {
	margin-bottom: 2em;
}
.qk-chapter,
.qk-section {
	-webkit-animation: fadein 0.5s;
	animation: fadein 0.5s;
}
.qk-chapter {
	counter-increment: qk-chapter;
	margin: 2em 0;
}
.qk-chapter-title {
	font-size: 26px;
}
.qk-chapter-title:before {
	content: "第 " counter(qk-chapter) " 章";
}

.qk-section {
	counter-increment: qk-section;
}
.qk-section-title {
	color: inherit;
	padding-bottom: 0;
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom: none;
}
.qk-section-title:before {
	content: "第 " counter(qk-section) " 节";
}

.qk-add {
	display: inline-block;
}



.pub-box {
	padding: 20px;
	background: #fff;
	margin: 20px 0;
}
.pub-labels .label {
	display: inline-block;
	margin-bottom: 0.5em;
}
.pub-btns {
	margin-top: 2em;
}



@-webkit-keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}