body {
	padding: 450px 0 50px;
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	background: url(../img/devices.jpg) no-repeat 50% 0, url(../img/bg.png) repeat-x #fff;
}



.news-title {
	font-size: 36px;
	text-align: center;
}
.news-body p {
	text-indent: 2em;
}
.txtcenter{text-align: center;}
.mtb20{margin:20px 0;}

.photo img{width:100px; height: 100px;border-radius:100px;display: inline-block;margin:10px 0;text-align: center;}
.photo p{text-indent: 0;}
.linebg {background:#efefef; height:1px;margin: 40px 0;}