<div class="article-aside">
	<a href="" target="_blank">
		<img src="img/pop.jpg" alt="" class="article-pop">
	</a>
	<section class="panel panel-default articles-other">
		<header class="panel-heading">
			<a href="" target="_blank" class="articles-other-more">更多 &gt;</a>
			<h1>常见问题</h1>
		</header>
		<div class="panel-body">
			<div class="list-group">
				<a href="article.html" target="_blank" class="list-group-item">三星电子称到10月1日在韩国料将召回逾八成Note7手机</a>
				<a href="article.html" target="_blank" class="list-group-item">三星电子称到10月1日在韩国料将召回逾八成Note7手机</a>
				<a href="article.html" target="_blank" class="list-group-item">三星电子称到10月1日在韩国料将召回逾八成Note7手机</a>
				<a href="article.html" target="_blank" class="list-group-item">三星电子称到10月1日在韩国料将召回逾八成Note7手机</a>
				<a href="article.html" target="_blank" class="list-group-item">三星电子称到10月1日在韩国料将召回逾八成Note7手机</a>
				<a href="article.html" target="_blank" class="list-group-item">三星电子称到10月1日在韩国料将召回逾八成Note7手机</a>
				<a href="article.html" target="_blank" class="list-group-item">三星电子称到10月1日在韩国料将召回逾八成Note7手机</a>
				<a href="article.html" target="_blank" class="list-group-item">三星电子称到10月1日在韩国料将召回逾八成Note7手机</a>
			</div>
		</div>
	</section>
</div>