<footer class="footer">
	<div class="container">
		<!-- <nav class="footer-nav">
			<ul>
				<li class="footer-nav-item">
					<a href="" target="_blank">关于我们</a>
				</li>
				<li class="footer-nav-item">
					<a href="" target="_blank">法律声明</a>
				</li>
				<li class="footer-nav-item">
					<a href="" target="_blank">帮助中心</a>
				</li>
				<li class="footer-nav-item">
					<a href="" target="_blank">友情链接</a>
				</li>
			</ul>
		</nav> -->
		<p>杭州君强科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;地址：杭州市文一西路998号浙江海外高层次人才创新园4号楼602室&nbsp;&nbsp;&nbsp;&nbsp;邮编：311100
			<br/>
			电话：0571-85027260&nbsp;&nbsp;&nbsp;&nbsp;传真：0571-85027260&nbsp;&nbsp;&nbsp;&nbsp;邮箱: qingke618@sina.com&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;" target="_blank">浙ICP备13012753号-1</a>&nbsp;&nbsp;&nbsp;&nbsp;
		</p>
		<!-- <div>Copyright &copy; 2015 - 2016 <a href="" target="_blank">浙ICP备13012753号-1</a></div> -->
	</div>
</footer>