<nav class="navbar navbar-default navbar-static-top headroom headroom--not-top headroom--unpinned" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a id="nav-toggle" href="#"><span></span></a>
			<a href="/" class="navbar-brand">
				<img src="img/logo.png" alt="轻课网" />
			</a>
		</div>

		<div class="collapse navbar-collapse right" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-left">
				<li class="active">

					<a href="javascript:;">首页</a>
				</li>
				<li>
					<a href="public-class-list.html" >公开课</a>
				</li>
				<li>
					<a href="quality-course-list.html" >精品课</a>
				</li>
				<li>
					<a href="article-list.html">线下开班</a>
				</li>
			</ul>
			<!-- <ul class="nav navbar-nav navbar-left">
				<li class="active"><a href="itcast/itcast1.html" target="_blank">首页</a></li>
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle">免费学习资源</a>
				</li>

				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle">课程中心</a>
					<ul class="dropdown-menu multi-level" role="menu">
						<li><a href="itcast/iOS.html" target="_blank">iOS培训</a></li>
						<li><a href="javascript:;">Android培训</a></li>
					</ul>
				</li>
				<li><a href="itcast/career-prospect.html" target="_blank">就业前景</a></li>
			</ul> -->

			<!--ul class="navbar-right">
				<li>
					<div id="navbar-search-form">
						<form role="search" action="/search" method="GET">
							<i class="fa fa-search"></i>
							<input type="text" id="value" name="value" placeholder="Type and Find">
						</form>
					</div>
				</li>
			</ul-->

			<ul class="nav navbar-nav navbar-right">
				<li class="login-desktop"><a href="javascript:;" class="j-login-btn"><i class="fa fa-lock"></i> 登录</a></li>
				<li class="signup-desktop"><a href="javascript:;" class="j-reg-btn"><i class="dojo-user-circle"></i> 注册</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="user-info">
					<a href="my-center.html">
						<img src="https://tse1.mm.bing.net/th?&id=OIP.M377aff37bc79377886d093987b03dba6o2&w=299&h=299&c=0&pid=1.9&rs=0&p=0" alt="" class="user-avatar" />
						<span class="user-name">李小龙</span>
					</a>
				</li>
				<li class="logout">
					<a href="">退出登录</a>
				</li>
			</ul>

		</div>
	</div>
</nav>
<div class="clear"></div>
