/* 通用 css*/
/* by nana */
/*学院页面二级导航样式*/
body{font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.sub_nav{width:100%; height:40px; line-height: 40px; overflow: hidden; background:#F5F5F5;}
.sub_nav .inner{width:1200px; margin:0 auto; overflow: hidden;}
.sub_nav h2{float:left; font-size:18px;}
.sub_nav ul{float:right; overflow: hidden; position:relative; padding-right:65px;}
.sub_nav ul li{float:left}
.sub_nav ul li a{ padding:0 8px; border-right: 1px solid #333;}
.sub_nav ul a.onbm{border-right: 0; padding-right: 0; position:absolute; right:0;}
.sub_fixd{position:fixed; top:0; left: 0; z-index: 400;}
a:hover{text-decoration: none;}
a{
  color: inherit;
}
#sub_nav a:hover{color: #333;}
/*学院页面banner新样式*/
.subject_ban{ width:100%; height: auto; overflow:hidden; position:relative; /*border-bottom: 1px solid #c9c9c9;*/margin-bottom: 40px;}
.subject_ban .bd{ position:relative; z-index:0;}
.subject_ban .bd ul{ width:100% !important  }
/* .subject_ban .bd li{ width:100% !important; height:450px; position:relative; zoom:1; vertical-align:middle; } */
/* .subject_ban .bd li a{display: block; width:100% !important; height:450px; position:relative;} */
.subject_ban .txt{width:1200px; position:absolute; left: 50%; margin-left: -600px; top:38px; z-index: 40;}
.subject_ban .txt .inner{width:307px; height: 317px; padding:60px 35px 0 35px;  background: url(../img/subject_bg.png); position: absolute; right:0; color: #fff;}
.subject_ban .txt h3{font-size:30px; line-height:60px; margin-bottom: 10px;}
.subject_ban .txt ul{margin-bottom: 20px;}
.subject_ban .txt ul li{line-height:30px; overflow: hidden;}
.subject_ban .txt ul li .sq{float:left; width:6px; height: 6px; line-height: 0; font-size: 0; background: #fff; margin:12px 6px 0 0; border-radius: 5px;}
.subject_ban .txt ul li a{float:left; font-size:13px; color: #fff; display: block; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; width:230px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
.subject_ban .txt ul li a:hover{color:#ccc;}
.subject_ban .txt p a{font-size:16px; color: #FFCC00; line-height: 30px;}

/*开班信息板块样式*/
.lay_kbinfo{width:1200px; margin:0 auto; margin-top: -1px;}
.lay_kbinfo .city_tab a{/*border-bottom: 1px solid #DFDFDF;*/}
.lay_kbinfo .city_class{padding-bottom:0;}
.city_subject ul li{width:100%; height: 72px; line-height: 72px; padding:0 20px; overflow: hidden; font-size: 16px; position:relative;}
.city_subject ul li span{float:left; margin-right:60px;}
.city_subject ul li span.span_name{width:192px; text-align:center;}
.city_subject ul li span.span_status{background: url(../img/hot.png) no-repeat right center; padding-right:25px;/* width:80px;*/ text-align:right;}
.city_subject ul li span em{font-style: normal; display:inline-block; min-width:25px; height: 33px; padding:0; text-align: center; line-height: 33px; background: #636C76; color: #fff; font-size: 24px; margin: 0 10px; border-radius: 3px; padding:0 5px;}
.city_subject ul li a{float:left; display:block; width:147px; height: 38px; line-height: 38px; text-align: center; color:#3688ff; border: 1px solid #6A6C6F; margin-top: 15px; position:absolute; right:95px;}
.city_subject ul li a:hover{border-color:#3688ff;}

/*学院页面内容样式--ios范本*/
.con_txt .lay{width:100%; text-align: center;  /*padding:70px 0 45px;*/  overflow: hidden;}
.con_txt .lay .inner{width:1200px; margin: 0 auto; overflow: hidden;}
.con_txt .lay h2{font-size:24px; text-align: center; padding: 50px 0 25px;font-weight: bold;}
.con_txt .lay .teacher-wrap h2{padding-bottom: 0;}
.con_txt .lay .teacher-wrap {padding-bottom: 25px;line-height: 1.5;}
.con_txt .lay .h_down{font-size:16px; line-height: 32px; text-align: center; margin-bottom: 30px;}
.con_txt .lay a:hover{text-decoration: underline;}
.con_txt .lay_2{/*background: url(../img/laybox_02.jpg) no-repeat center top; */padding-bottom: 80px;} 
.con_txt .lay_2 h2{font-size:30px; /*color: #fff;*/}
.con_txt .lay_2 .h_down{/*color:#fff;*/}
.con_txt .lay_2 .list{width:1000px; margin:0 auto; overflow: hidden;}
.con_txt .lay_2 .list img{width:100%;}
.con_txt .lay_2 .list ul{width:990px;}
.con_txt .lay_2 .list ul li{float:left; width:100%;/*height: 124px; */color:#fff; /*border: 1px solid #8B8B8B;*/ margin-right:20px; border-radius: 3px;}
.con_txt .lay_2 .list ul li img{width:100%;}
.con_txt .lay_2 .list ul li h3{font-size:22px; color: #00aaff; margin:36px 0 16px 0;}
.con_txt .lay_2 .list ul li p{font-size:13px;}

.con_txt .lay_3{background: #FAFAFA; text-align: center;}
.con_txt .lay_3 h2{text-align:center;}
.con_txt .lay_3 .h_down{text-align: left; font-size:18px; padding-left:75px;}
.con_txt .lay_3 .h_down span{color:#e60012; font-size: 22px;}
.con_txt .lay_3 a{font-size:18px; color: #3688FF; padding-left: 206px; display: inline-block; margin-top:40px;}

/*.con_txt .lay_4 .inner{width:1080px; padding-right: 120px;}*/
/* .con_txt .lay_4 h2{ text-align: right; padding-top:20px; }
 */
.con_txt .lay_4 .h_down{text-align: right; font-size:18px;}
.con_txt .lay_4 a{font-size:18px; color: #3688FF; padding-right: 96px; display: inline-block; margin-top:30px;}
.con_txt .lay_5{margin-bottom: 50px;
}
/* .con_txt .lay_6{padding-bottom: 20px;}
.con_txt .lay_6 img{display:inline-block;}
.con_txt .lay_6 a{line-height:100px; color: #3688ff; font-size: 18px;} */
.nav .train{
  
}
.nav  a:hover .train{
  display: block;
}
.bd{
  width:100%;

}
.bd-item{
  width:100%;
  height: 290px;
 
}
.bold-item{
   box-sizing:content-box;
  -webkit-box-sizing:content-box;
}

.bd-item1{
  background: url(../img/blackboard.png) no-repeat;
  background-size: 100%;
}
.bd-item2{
  
  background: url(../img/chicken.png) no-repeat;
  background-size: 100%;
}
.bd-item3{
  background: url(../img/ios_improve.png) no-repeat;
  background-size: 100%;
}
.bd img{
  width:100%;
}
.group-bd{
  width:960px;
  margin: 0 auto;
}
.wrap{
    position: relative;
    width: 240px;
    height: 240px;
}
.wrap img{
  width:100%;
}
.layer-title {
  position: absolute;
  width: 240px;
  height: 240px;
  color: white;
  display: none;
  z-index: 99999;
}
.wrap .layer-title span {
  display: table-cell;
  vertical-align: middle;
  line-height: 20px;
  padding:0 10px; 
}
li .layer-title {
  display: table;
   opacity:1; 
  background: rgb(201,57,74) \9;
  filter:alpha(opacity=80);
  background: rgba(201,57,74,0.8) ;
 
 
}
.order-list li{
  float: left;
}
.slick-dots li{
  margin:0 1px 5px;
  text-align: center;
} 
.slick-dots li button:before{
  font-size: 40px;
  top:100%;
}
 .slick-dots li button:hover:before,
.slick-dots li button:focus:before{
  color: #0088cc \9;
}
.slick-dots li button:before{
  color:#c0e2f2 \9;
  opacity: 1 \9;
}
.slick-dots li.slick-active button:before{
  color: #40a6d9 \9;
  opacity: 1 \9;
}
/* @-webit-keyframes bg{
  0%{-webkit-transform:translateY(100%);}
  100%{-webkit-transform:translateY(0);}
}
@keyframes bg{
  0%{transform:translateY(100%);}
  100%{transform:translateY(0);}
} */
.logo-img{
  width:166px;
  height: 53px;
  display: inline-block;
}
.logo-img img{
  height: 53px;
}
.foot_ch{
  text-align: center;
}
.project-show{
  position: relative;
  height: 440px;

 }
 .show-item{
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  margin: auto;
 }
.project-show .show-phone{
  background: url(../img/phone.png) 50%;
  width:332px;
  height: 362px;
  margin:0 auto;
  position: relative;
  -webkit-animation:up .6s ease-in-out .3s backwards;
  animation:up .6s ease-in-out .3s backwards;
}

.show-phone-views{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 292px;
   height: 281px; 
  margin: auto;
  overflow: hidden;
}
.project-show .show-slogan{
  -webkit-animation:zoomin .4s  1s backwards  ;
  animation:zoomin .4s  1s backwards   ;
  color: #fff;
  font-size:16px;
  text-align: center;
}
.project-show .show-slogan-1{
  background: url(../img/bubble-1.png) no-repeat;
  width:173px;
  height: 142px;
  position: absolute;
  bottom:80%;
  left: 23%;
  padding-top: 25px;
   -webkit-animation-delay:1s;
  animation-delay:1s;
 

}
.project-show .show-slogan-2{
  background: url(../img/bubble-2.png) no-repeat;
  width:226px;
  height: 212px;
  position: absolute;
  bottom: 12%;
  left: 17%;
  /*-webkit-animation-delay:1.2s;
  animation-delay:1.2s;*/
  -webkit-animation-delay:2s;
  animation-delay:2s;
  padding-top: 50px;
}
#slogan{
  width:332px;
  margin:0 auto;
}
 .slogan-1{
 /* background: url(../img/bubble-1.png) no-repeat 50% 70% ;*/
  width:173px;
  height: 142px;
  font-size: 16px;
  /*position: absolute;
  left:50%;
  top:50%;*/

}
.slogan-2{
/* background: url(../img/bubble-2.png) no-repeat; 50%
 width:173px;
  height: 142px;*/
   font-size: 16px;
   background-size: 100%;
}
.slogan-3{
 /* background: url(../img/bubble-3.png) no-repeat 50%;
 background-size: 100%;*/
   font-size: 16px;
   width:173px;
  height: 142px;
  }
.project-show .show-slogan-3{
  background: url(../img/bubble-3.png) no-repeat;
  width: 295px;
  height: 294px;
  position: absolute;
  bottom:40%;
  right: 10%;
  -webkit-animation-delay:4s;
  animation-delay:4s;
  padding-top: 80px;
}
.lay .news{
  width:960px;
  margin:0 auto;
}

.lay .news-item{
  float: left;
  width:30%;
  text-align: left;
  margin-right: 3%;
}
.lay .news-item:last-child{
  margin-right: 0;
}
.lay .news-item-title{
  font-size: 18px;
  border-left: 2px solid #39a9ea;
  line-height: 18px;
  padding-left: 4px;
  margin-bottom: 6px;
  margin-top: 14px;
}
.lay .news-item-content li{
  background: url(../img/top_bg_f32315c.png) left -270px no-repeat ;
  text-align: left;
  padding-left: 8px;
  vertical-align: middle;
  height: 24px;
  line-height: 24px;
  position: relative;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.lay .news-item-content a:hover{
  color: #39a9ea;
}
.lay .news-item-content li.bold-item{
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 3px;
  padding-top: 6px;
  background:none;
  padding-left: 10px;
}
.lay .news-item-content .dots{
  width:5px;
  height: 5px;
  display: inline-block;
  background: #da4453;
  position: absolute;
  left: 0;
  top:0px;
  bottom:0;
  margin:auto;
}
.lay_6{
  padding-bottom: 50px;
}
.lay_6 .enroll,  .submit-btn{
  font-size: 16px;
  background: #39a9ea;
  color: #fff;
  line-height: 2.375;
  display:inline-block;
  padding: 0 2em;
  border-radius: 6px;
  border: 1px solid;
  cursor:pointer;
  text-decoration: none!important;

  
}

 .submit{
  text-align: center;
}


@-webkit-keyframes up{
  0%{-webkit-transform:translateY(100%);}
  100%{-webkit-transform:translateY(0%);}

}
@keyframes up{
  0%{transform:translateY(100%);}
  100%{transform:translateY(0%);}
}
@-webkit-keyframes zoomin{
  0%{-webkit-transform:scale(0);}
    100%{-webkit-transform:scale(1);}
}
@keyframes zoomin{
  0%{transform:scale(0);}
    100%{transform:scale(1);}
}
.fn-clear:after{
  content: "";
  height: 0;
  font-size: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.article, .article-detail, .enroll{
  background: #f5f5f5;
  padding-bottom: 40px;
}

 .iOS-article-detail{
  padding:10px 0 20px;

}
.article-main, .article-detail-main, .enroll-main{
   width:960px;
  margin:0 auto;
  background: #fff;
}
.article .item-list{
  padding: 20px;
  border-bottom:1px solid #efefef;
}
.article .item-list-picture{
  width:226px;
  height: 160px;
  float: left;
}
.article .item-list-picture img{
  width:100%;
}
.article .item-list-info{
  margin-left: 246px;
}
.article  .item-info-title{
  font-size: 18px;
  line-height: 28px;
  color: #000;
}
.article .item-list-info .info-time{
  color: #888;
  font-size: 12px;
  line-height: 26px;
  background: url(../img/icons.png) left 2px no-repeat;
  padding-left: 20px;
}
.article .item-list-info span{
  padding-right: 20px;
}
.article .info-detail{
  padding-top: 20px;
  padding-right: 28px;
  font-size: 14px;
  line-height: 24px;
}
.article .article-foot{
  padding: 20px 0;
  text-align: center;
}
.article .article-foot .prev{
  background: url(../img/prev.jpg) no-repeat center;
 vertical-align: middle;
 
}
.article .article-foot .next{
  background: url(../img/next.jpg) no-repeat center;
  vertical-align: middle;
}
.article .article-foot a{
  width:30px;
  height: 38px;
 display: inline-block;
  line-height: 38px;
  border: 1px solid #fff;
  margin-left: 6px;
}
.article .article-foot a.active{
  background: #39a9ea;
  color: #fff;
  border: 1px solid #39a9ea;
}
.article .article-foot a:hover{
  border: 1px solid #39a9ea;
}
.article-detail-main{
  padding: 0px 50px 42px;
}
.article-detail .main-top{
  border-bottom: 1px solid #efefef;
  padding: 40px 50px 10px;


}
.article-detail .main-title{
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  padding-bottom: 28px;
  
}
.article-detail .main-picture{
  margin-bottom: 20px;
}
.article-detail img{
  display: block;
  max-width:100%;
  margin: 0 auto;
}
.article-detail .main-top p{
  line-height: 1.858;
}
.article-detail .main-body p{
  text-indent: 2em;
  line-height: 1.429em;
  padding-bottom: 20px;
}
.article-detail .main-body{
  padding: 40px 50px 0;
}
.enroll-main{
  padding:0 40px 40px;
}
.enroll-main img{
  width:100%;
}
.enroll-main-item{
 padding-bottom: 40px;
}
.enroll-main-item h1{
  font-size: 24px;
  text-align: center;
  line-height: 1.8em;
  padding: 20px 0;
}
.enroll-main-item h2{
  font-size: 16px;
  line-height: 1.5;
}
.enroll-main-item h3{
  font-size: 14px;
  line-height: 1.6;
  text-indent: 2em;

}
.enroll-form {
  padding: 20px 0;
  margin:0 140px;
}
.enroll-form input{
  border:1px solid #c9c9c9;
  padding: 10px;
  box-shadow: inset 1px 2px 3px #f1f1f1;
  border-radius: 4px;
}
.enroll-form li{
  float: left;
  width:44%;
  margin:0 3%;
  margin-bottom: 10px;
  height: 57px;
 
}
.enroll-form .red-star{
  font-size: 18px;
  line-height: 40px;
  padding-right: 4px;
  width:30%;
  display: inline-block;
  text-align: right;
}
 .enroll-form span s{
  text-decoration: none;
  color: red;
  font-size: 15px;
  line-height: 40px;
} 
.enroll-main .purchase{
  padding-bottom: 10px;
}
.enroll .tip-message{
  color: red;
  font-size: 12px;
  margin-left: 30%;
  text-align: left;
  padding-left:8px;

}
.enroll .tip-message-hide{
  display: none;
}




.teachers {
  font-size: 0.86em;
  line-height: 1.5;
  color: #fff;
  margin-left: 0;
  margin-right: 0;
}
.teacher {
  height: 140px;
  overflow: hidden;
}
.teacher-photo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: no-repeat 50%;
  background-size: cover;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.teacher:hover .teacher-photo {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.teacher-intro {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.2em;
  background: rgba(0,0,0,0.6);
  font-size: 12px;
  line-height: 1.2;
}
.royalSlider{
  width:100%!important;
}
.rsDefault .rsBullets {
  position: static;
  background: none;
  margin-top: 20px;
}
 .rsDefault .rsBullet {
  width: auto;
  height: auto;
}
 .rsDefault .rsBullet span {
  width: 10px;
  height: 10px;
  background: #dfdfdf;
}
 .rsDefault .rsBullet.rsNavSelected span {
  background: #4b7ff7;
}
@media (min-width: 992px) {
  .container {
    width: 930px;
    margin: 0 auto;
  }

   .royalSlider {
    height: 280px!important;
  }
  .teachers {
    position: relative;
  }
  .teacher {
    position: absolute;
  }
  .teacher:nth-child(1) {
    left: 0;
    top: 0;
    width: 310px;
  }
  .teacher:nth-child(2) {
    left: 0;
    top: 140px;
    width: 155px;
  }

  .teacher:nth-child(3) {
    left: 155px;
    top: 140px;
    width: 155px;
  }
  .teacher:nth-child(4) {
    left: 310px;
    top: 0;
    width: 220px;
  }
  .teacher:nth-child(5) {
    left: 310px;
    top: 140px;
    width: 220px;
  }
  .teacher:nth-child(6) {
    left: 530px;
    top: 0;
    width: 180px;
    height: 280px;
  }
  .teacher:nth-child(7) {
    left: 710px;
    top: 0;
    width: 220px;
  }
  .teacher:nth-child(8) {
    left: 710px;
    top: 140px;
    width: 220px;
  }
}


.menu_pop .menu_pop_arrow {
    position: absolute;
    width: 18px;
    height: 9px;
    overflow: hidden;
    font-size: 0px;
    z-index: 2;
    top: -9px;
    left: 56px;
    text-align: left;
}


.top{
  width:100%;
  background-color: #f5f5f5;
}
.top img{
  width:100%;
}
#iOS .course{
  background: #f5f5f5;
  padding-bottom: 88px;
}
 #course-center .course{
  background: #f5f5f5;
 }
.title{
  text-align: center;
  
  padding-top: 60px;
  padding-bottom: 72px;



}
 .title-content{
  border-bottom:3px solid #40aae7;
  padding-bottom: 10px;
  font-size: 30px;
  line-height: 1;
  display: inline-block;
}
#iOS .course-wrap{
  width:1000px;
}
.course .course-wrap{
 width:1172px;
 margin:0 auto;
 background: #fff;
 padding: 10px;
}

.course-title-wrap, .course-detail-wrap, .course-price-wrap{
  float: left;
}
.course-detail-wrap, .course-wrap{
  display: table;
}
.course-detail-wrap div, .course-price{
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  line-height: 2;
}
.course .course-list{
 margin-bottom: 10px;
}
.course .course-list:last-child{
  margin-bottom: 0;
}
.clear-fix:after{
  clear: both;
  display: block;
  content: "";
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.course .course-title-wrap{
  background: #f5f5f5;
  padding:34px;
}
.course .course-title{
  font-size: 30px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  width:166px;
  height: 166px;
  padding: 46px 0;
  box-sizing:border-box;
}
.course .course-title1{
  background-color: #5767b8;
}
.course .course-title2{
  background-color: #3298fa;
}
.course .course-title3{
  background-color: #2fb00c;
}
.course .course-title4{
  background-color: #35cbf1;
}


.course .course-detail-wrap{
  padding: 0 30px ;
  background: #f5f5f5;
  margin-left: 10px;
  font-size: 16px;
  line-height: 2;
  /*max-width: 560px;*/
  vertical-align: middle;
  height: 234px;
 -o-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}
#iOS .course-detail-wrap{
  width: 756px;
}
#course-center .course-detail-wrap{
  width:560px;
}
.course .course-price-wrap{
  background: #f5f5f5;
  margin-left: 10px;
  height: 234px;
}
.course-price{
  width:358px;
  text-align: center;
  height: 234px;
}
.course .course-price p{
  /*padding: 0 90px;*/
  font-size: 16px;
  line-height: 2em;

}
.course .course-price span{
  font-size: 30px;
  color: #fe2929;
}
.course .more-price{
  text-decoration: underline;
  color: #40aae7;
}
/*.course .more-price:hover{
  color: #40aae7;
}*/
 .teachers-wrap{
  width:1072px;
  margin:0 auto;
}
.teacher-list{
  float: left;
  width:20%;
  text-align: center;
  margin-right: 6.667%;
}
.teacher-list:last-child{
  margin-right: 0;
}
.teacher-img{
  width:100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  margin:0 auto;
}
.teacher-img1{
  background: url(../img/1.png) no-repeat 50%;
  background-size: cover;
}
.teacher-img2{
  background: url(../img/2.png) no-repeat 50%;
  background-size: cover;
}
.teacher-img3{
  background: url(../img/zl.jpg) no-repeat 50%;
  background-size: cover;
}
.teacher-img4{
  background: url(../img/4.png) no-repeat 50%;
  background-size: cover;
}
.teacher-name{
  padding: 20px 0;
  font-size: 16px;
  color: #000;
}
.contact{
  text-align: center;
  margin-top: 84px;
  padding:130px 0 90px 0;
  background: #f5f5f5;
}
.contact-num{
  margin-top: 14px;
}
.contact-btn{
  font-size: 26px;
  height: 64px;
  line-height: 64px;
  background: #40aae7;
  color: #fff;
  padding: 0 186px;
  display: inline-block;
  border-radius: 10px;
}
.career-prospect{
   background: #f5f5f5;
}
.salary-top{
  background: #f5f5f5;
}
.salary-wrap{
  margin:0 auto;
  width:1200px;
}

.salary{
  width: 796px;
  float: left;
}
.salary-title{
  background: #f1f1f1;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.salary-left{
  float: left;
}
.salary-right{
  background: #fff;
  padding-left: 464px;
  padding-top: 54px;
}
.salary .credibility{
  font-size: 14px;
  padding: 10px 0;
  color: #000;
}
.salary-num{
  color: #ff7c21;
  font-size: 30px;
  font-weight: bold;
}
.salary .survey li{
  float: left;
}
.salary .survey-btn{
  height: 30px;
  line-height: 30px;
  padding: 0 24px;
  background: #02d3d5;
  color: #fff;
  border-radius: 5px;
  margin-right:8px;
}
.salary .survey-num{
  font-size: 12px;
}
.salary .survey-num-select{
  color: #ff7c21;
}
.salary-text{
  padding-top: 14px;
  margin-left: 840px;
}
.salary-text p{
  font-size: 16px;
  line-height: 40px;
}
.salary-slogan{
  text-align: center;
  font-size: 28px;
  color: #39a9ea;
  margin: 60px auto 80px;
}
.career-prospect .contact{
  padding-top: 0;
}
.course-contact{
  text-align: center;
  padding-top: 90px;
  background: url(../img/contact-bg.jpg);
  padding-bottom: 90px;
  margin-top: 90px;
}
.course-contact .contact-btn{
  background-color: #f3ff6a;
  color: #40aae7;
}
.course-contact .contact-num{
  color: #fff;
}
.story{
  background: #f5f5f5;
  padding-bottom: 130px;
}
.story ul{
  width:1190px;
  margin: 0 auto;
}
.story li{
  float: left;
  width:288px;
  margin-right: 10px;
  box-sizing:border-box;
  display: inline-block;
  border:1px solid #efefef;
  background-color: #fff;
}
.story li:last-child{
  margin-right: 0;
}
.story-name{
  height: 56px;
  line-height: 56px;
  text-align: center;
}
.course-page .course-page-title{
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.course-page a{
  text-decoration: none;
  color: #333;
}
.course-page .period-list{
  margin-bottom: 10px;
}
.course-page .period-list .chapter{
  position: relative;
  margin-bottom: 10px;
  padding: 10px 15px;
  background: #f5f5f5;
}
.course-page .period-list .period{
  padding:10px 100px 10px 15px;
  position: relative;
}
.course-page .circle{
  width:16px;
  height:16px;
  border-radius: 50%;
  border:1px solid #ccc;
  display: inline-block;
  vertical-align: middle;
  margin-right:10px;
}
.course-page .period-show{
  float: right;
}
.course-page .date{
  position: absolute;
  right: 50px;
}
.course-page .course-type{
  position: absolute;
  right: 15px;
}
.course-page .period > a{
  display: block;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.qingke-qrcode{
  position: fixed;
  right:1%;
  bottom: 3%;
  font-size: 12px;
  text-align: center;
}
.qingke-qrcode-img{
  width:9em;
  -webkit-transition:0.3s;
  transition:0.3s;
  -webkit-transform-origin:right bottom;
  transform-origin:right bottom;
}
.qingke-qrcode:hover .qingke-qrcode-img{
  -webkit-transform:scale(2);
  transform:scale(2);
}

